.add {
  align-items: center;
  background: none;
  border: none;
  border-top: 1px solid #999;
  color: #6200ee;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  margin-top: auto;
  outline: none;
  padding: 1.2rem 2rem;
  text-align: left;
  width: 100%;

  &:hover {
    background: #dedede;
  }

  svg {
    margin-right: 1.2rem;
  }
}