.add {
  align-items: center;
  background: none;
  border: none;
  color: #9965f4;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  outline: none;
  padding: 1rem .8rem 1rem 1.2rem;
  text-align: left;
  width: 100%;

  &:hover {
    color: #6002ee;
  }

  svg {
    margin-right: 1rem;
  }
}