@import '../../styles/colors.scss';

.button {
  background: $primary;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  outline: none;
  padding: .8rem 1.2rem;
  text-decoration: none;
  transition: background-color .2s ease, color .2s ease;

  &:hover:enabled {
    background: $primary-dark;
  }

  &:active {
    -webkit-box-shadow: inset 0px 0px 5px $gray400;
       -moz-box-shadow: inset 0px 0px 5px $gray400;
            box-shadow: inset 0px 0px 5px $gray400;
  }
}

.secondary {
  background: $gray600;

  &:hover:enabled  {
    background: $gray700;
  }
}

.tertiary {
  background: none;
  color: $text-secondary;

  &:hover:enabled {
    background: $gray300;
    color: $text;
  }

  &:active {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
}

.tertiary-light {
  background: none;
  color: $text-secondary;

  &:hover:enabled {
    background: none;
    color: $text;
  }
}

.disabled {
  background: $gray400;
  color: $text-disabled;

  &:hover:enabled {
    background: $gray500;
  }
}

.destructive {
  background: $error;

  &:hover:enabled {
    background: $error-dark;
  }
}
