.itemContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: background .05s;

  &:hover {
    background: #dedede;

    .edit {
      position: static;
      opacity: 1;
    }
  }
}

.activeItemContainer {
  @extend .itemContainer;
  background: #ccc;

  &:hover {
    background: #ccc;
  }
}

.item {
  align-items: center;
  cursor: pointer;
  display: block;
  flex-shrink: 0;
  justify-content: space-between;
  overflow: hidden;
  padding: 1rem .8rem 1rem 1.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 16.6rem;
}

.pageItem {
  @extend .item;
  padding: 1rem 1.2rem;
  width: 100%;
}

.edit {
  align-items: center;
  color: #a4a4a4;
  cursor: pointer;
  height: 1.6rem;
  left: -9999px;
  margin-right: .6rem;
  opacity: 0;
  position: absolute;
  width: 16px;
  transition: opacity .1s;
}
