.item {
  cursor: pointer;
  overflow: hidden;
  padding: 1rem 2rem;
  text-overflow: ellipsis;
  transition: background .05s;
  white-space: nowrap;

  &:hover {
    background: #dedede;
  }
}

.activeItem {
  @extend .item;
  background: #ccc;

  &:hover {
    background: #ccc;
  }
}