@import '../../styles/colors.scss';

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.30);}

.modal {
  background-color: #fff;
  box-shadow: 0 0 10px 5px $gray600;
  max-height: 80vh;
  outline: none;
  overflow-y: auto;
  padding: 3.2rem;
}
