.notePage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;

  input {
    border: none;
    border-bottom: 1px solid #666;
    flex-grow: 1;
    font-size: 3.6rem;
    font-weight: 300;
    outline: none;
    padding-bottom: .6rem;
  }

  .delete {
    background: none;
    border: none;
    color: #ddd;
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 2rem;
    outline: none;
    padding: 0;
    transition: color .2s;

    &:hover {
      color: #b00020;
    }
  }
}

.updated {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  margin-top: .6rem;

  svg {
    margin-right: .6rem;
  }
}

textarea.notes {
  border:none;
  flex-grow: 1;
  font-size: 1.6rem;
  margin-top: 2rem;
  outline: none;
  overflow: hidden;
  padding-right: 2rem;
  resize: none;
  width: 100%;
  word-wrap: break-word;

  &:hover, &:focus {
    overflow-y: auto;
    padding-right: 0;
  }
}

.getStarted {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  h2 {
    font-size: 3.2rem;
  }
  p {
    font-size: 2rem;
    margin-top: 2rem;

    button {
      background: none;
      border: none;
      color: #6200ee;
      cursor: pointer;
      font-size: 2rem;

      &:hover {
        color: #3d00e0;
      }
    }
  }
}
