.notePage {
  background: var(--surface);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;

  input {
    background: var(--surface);
    border: none;
    border-bottom: 1px solid var(--sidebar-borders);
    color: var(--text);
    flex-grow: 1;
    font-size: 3.6rem;
    font-weight: 300;
    outline: none;
    padding-bottom: .6rem;
  }
}

.updated {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  margin-top: .6rem;

  svg {
    margin-right: .6rem;
  }
}

textarea.notes {
  background: var(--surface);
  border:none;
  color: var(--text);
  flex-grow: 1;
  font-size: 1.6rem;
  margin-top: 2rem;
  outline: none;
  overflow: hidden;
  resize: none;
  width: 100%;
  word-wrap: break-word;

  &:hover, &:focus {
    overflow-y: auto;
    padding-right: 0;
  }
}

.getStarted {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  h2 {
    font-size: 3.2rem;
  }
  p {
    font-size: 2rem;
    margin-top: 2rem;

    button {
      background: none;
      border: none;
      color: var(--primary);
      cursor: pointer;
      font-size: 2rem;

      &:hover {
        color: var(--primary-dark);
      }
    }
  }
}
