.container {
  padding: .8rem;
}

.search {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.4rem;
  outline: none;
  padding: 1rem 1.2rem;
  width: 100%;
}

.message {
  color: #a4a4a4;
  font-size: 1.2rem;
  height: 1.8rem;
  padding: 0 1.2rem;
  font-style: italic;
}
