.sectionList {
  display: flex;
  flex-direction: column;
}

.sections {
  flex-grow: 1;
  overflow-y: auto;
}

.section {
  cursor: pointer;
  overflow: hidden;
  padding: 1rem 2rem;
  text-overflow: ellipsis;
  transition: background .05s;
  white-space: nowrap;

  &:hover {
    background: #dedede;
  }
}

.activeSection {
  @extend .section;
  background: #ccc;

  &:hover {
    background: #ccc;
  }
}
