.contents {
  background: #eee;
  border-right: 1px solid #999;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  width: 38rem;
}

.lists {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}
