$primary: #6002ee;
$primary-light: #9965f4;
$primary-dark: #3d00e0;
$secondary: #3949AB;
$secondary-light: #5C6BC0;
$secondary-dark: #283593;
$info: #1E88E5;
$info-light: #42A5F5; // dark contrast
$info-dark: #1565C0;
$error: #E53935;
$error-light: #EF5350;
$error-dark: #C62828;
$warning: #FB8C00; // dark contrast
$warning-light: #FFA726; // dark contrast
$warning-dark: #EF6C00; // dark contrast
$success: #43A047;
$success-light: #66BB6A; // dark contrast
$success-dark: #2E7D32;

$text: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54);
$text-disabled: rgba(0, 0, 0, 0.38);


$gray50: #FAFAFA;
$gray100: #F5F5F5; 
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;
